.help-block{
    border: 1px solid rgb(154, 154, 154);
    border-radius: 0px 6px 6px 0px;
    width: 30%;
    padding: 0px 10px;
}
.help-block-key{
    font-family: MyriadPro,serif!important;
    font-size: 18px!important;
    line-height: 1.2;
    color: #37474f;   
    margin: 0px
}
.help-block-datatype{
    font-size: 14px;
    color: #555;
    font-family: MyriadPro,serif!important;
    line-height: 1.5;
    font-weight: 400;
}
.help-block-required{
    display: flex;
}
.help-block-label{
    color: #76838f;
    background-color: #e4eaec;
    font-size: 13px;
    font-weight: 500;
    padding: .25em .6em .25em;
    border-radius: .3em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    display: inline;    
    // margin-top: 4px;
    position: absolute;
    right: 20%;
}
.help-block-exaple-label{
    color: #76838f;
    background-color: #e4eaec;
    font-size: 13px;
    font-weight: 500;
    padding: .25em .6em .25em;
    border-radius: .3em;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    display: inline;    
    // margin-top: 4px;
    position: absolute;
}
.editor-help-text{
    font-size: 16px;
    color: #555;
    font-family: MyriadPro,serif!important;
    font-weight: 400;
    line-height: 1.5;
}
.help-block-header{
    font-weight: 300!important;
    font-size: 14px!important;
    margin-top: 7px;
    color: #bcc2c8;
}
.help-block-body{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #bcc2c8;
    font-weight: 300!important;
    font-size: 14px!important;
}
.p10{
    padding: 10px!important;
}