$black               : #000;
$white               : #fff;

$text-color          : #5F6C72;
$title-color         : #344B62;

$field-border        : #dddddd;

$box-shadow          : 0px 2px 4px rgba(0, 0, 0, 0.3)