@import 'typography';
@import 'mixins';
@import 'variables';
@import 'bootstrap.min.css';

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    height: 100%;
    body {
        margin: 0;
        padding: 0;
        font-family: Roboto-Regular;
        font-size: 1em;
        color: $text-color;
        background-color: $white;
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }
    }
}

