.head-section {
  .img-container {
    width: 100%;
    img {
      width: 100%;
      height: 30em;
    }
  }
  .img-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 20em;
    align-items: center;
    border-bottom: 1px solid #b3b3b3;
    .title-img {
      img {
        width: 16em;
        border-radius: 50%;
        height: 13em;
      }
    }
    p {
      text-align: center;
    }
  }
  .desc-section {
    height: 20em;
    border-bottom: 1px solid #b3b3b3;
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;
    p {
      font-size: 20px;
      text-align: center;
    }
  }
  .footer-section {
    padding: 1.5em 2em;
    height: 20em;
    border-bottom: 1px solid #b3b3b3;
    h2 {
      text-align: center;
    }
  }
}
