.head-div {
  .sitename-section {
    width: 100%;
    background: #336699;
    border-top: 5px solid #b3cce6;
    border-bottom: 5px solid #b3cce6;
    padding-left: 13em;
    height: 4em;
    display: flex;
    align-items: center;
    p {
      float: left;
      color: #fff;
      margin: 0;
      font-size: 23px;
    }
  }
  .content-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    height: 35em;
    border-bottom: 1px solid #b3b3b3;
    .card {
      width: 29%;
      display: flex;
      align-items: center;
      height: 31em;
      padding: 4em 3em 0 3em;
      .icon {
        font-size: 49px;
        background: #46be8a;
        width: 2em;
        border-radius: 50%;
        text-align: center;
        height: 2em;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h2 {
        margin-top: 30px;
        width: 10em;
        text-align: center;
      }
      p {
        text-align: center;
        margin-top: 2em;
      }
      button {
        border-radius: 6px;
        background: #46be8a;
        color: #fff;
        box-shadow: none;
        width: 13em;
        border: #46be8a;
        height: 2.5em;
        margin-top: 2em;
      }
    }
  }
}
