.nav-container {
  background-color: #006699;
  height: 4em;
  .nav-section {
    width: 100%;
    .nav-img {
      width: 30%;
      height: 4em;
      float: left;
      img {
        width: 4em;
        height: 4em;
      }
    }
    .nav-content {
      width: 70%;
      float: right;
      height: 4em;
      ul {
        // padding: 1.1em 0em;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
        li {
          color: #fff;
          cursor: pointer;
          width: 5em;
        }
      }
    }
  }
}
