.main-div {
  width: 100%;
  .main-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .sidebar {
      width: 20%;
    }
    .draggable {
      width: 20%;
      display: flex;
      justify-content: center;
    }
    .droppables {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-top: 5em;
      .rte {
        min-height: 50em;
        width: 50em;
        border: 1px solid;
        border-radius: 7px;
        overflow: visible;
      }
      .widget {
        display: flex;
        width: 50em;
        justify-content: space-between;
        margin-top: 2.5em;
        .widget-items {
          width: 36em;
          margin-top: 0.5em;
          margin-bottom: 1em;
          .header-inputs {
            display: flex;
            flex-wrap: wrap;
            width: 36em;
            justify-content: center;
            height: 18em;
            padding: 1em 0.5em;
            border: 1px dotted;
            align-items: center;
            .input-div {
              margin: 0em 1em 0em 1em;
              width: 14em;
            }
          }
        }
        .icon-cont {
          .btn {
            margin-top: 0;
            display: flex;
            .clear {
              cursor: pointer;
              color: lightgrey;
            }
            .clear:hover {
              color: #ff6666;
            }
            .delete {
              cursor: pointer;
              color: lightgrey;
            }
            .delete:hover {
              color: #ff6666;
            }
          }
        }
      }
      .btn {
        float: right;
        margin-top: 1em;
      }
    }
  }
}
